body {
  background: rgb(222, 221, 241);
  background: linear-gradient(
    90deg,
    rgba(222, 221, 241, 1) 0%,
    rgba(205, 197, 165, 1) 17%,
    rgba(155, 210, 221, 1) 100%
  );
}
#center {
  margin: 150px;
  display: block;
  background-color: #c8dde1;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
  font-weight: 250;
}

select {
  font-size: 20px;
  margin-left: 10px;
  width: 95%;
  margin-right: 10px;
  background-color: #ccc5a4;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  opacity: 0.4;
}
h2 {
  font-size: 30px;
  margin-left: 0 0 15px;
  font-weight: 300;
}

.cities1 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.7px dashed grey;
  padding-bottom: 10px;
  padding-top: 5px;
}
.cities2 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.7px dashed grey;
  padding-bottom: 10px;
}
.cities3 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.date {
  opacity: 0.6;
}
.time {
  font-size: 40px;
  margin-top: 25px;
  font-weight: bold;
}
.time small {
  font-size: 10px;
}

footer {
  font-size: small;
  opacity: 0.43;
  text-align: center;
  text-decoration: underline;
  padding-bottom: 25px;
}
