body {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(116, 86, 23, 1) 100%
  );
}

#center {
  margin: 150px;
  display: block;
  background-color: rgb(196, 211, 174);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 10px;
  margin-bottom: 40px;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

select {
  font-size: 20px;
  margin-left: 10px;
  width: 95%;
  margin-right: 10px;
  background-color: bisque;
  border-color: rgb(0, 0, 0);
  border-radius: 4px;
  opacity: 0.4;
}
h2 {
  font-size: 30px;
  margin-left: 0 0 15px;
}

#cities1 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}
#cities2 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
}
#cities3 {
  margin-left: 15px;
  margin-right: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

#date {
  opacity: 0.6;
}
#time {
  font-size: 30px;
  margin-top: 25px;
}
#time small {
  font-size: 10px;
}

footer {
  font-size: small;
  opacity: 0.43;
  text-align: center;
  text-decoration: underline;
}

#town {
  display: flex;
  justify-content: space-between;
  font-size: 55px;
}
